* {
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    background-color: #313131;
    font-family: "Chivo", sans-serif;
    font-weight: 900;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

/*--Typography--*/

h1 {
    color: #9DA5EB;
    text-align: center;
    font-family: Chivo;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin: 0 auto;
    position: relative;
    width: fit-content;
}

h2 {
    color: #F4F0EE;
    text-align: center;
    font-weight: 100;
    margin: 10px auto;
    position: relative;
    width: fit-content;
}

h3 {
    color: #F4F0EE;
    text-align: center;
    font-family: Chivo;
    font-size: x-large;
    font-style: normal;
    font-weight: 600;
}

p {
    display: flex;
    color: #F4F0EE;
    font-weight: 400;
    line-height: 125%;
}

/*--Navigation Bar--*/

nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;
}

.logo {
    display: flex;
    justify-content: flex-start;
}

ul {
    width: 50%;
    margin-left: auto;
    color: #F4F0EE;
    font-weight: 400;
    list-style-type: none;
    font-size: x-small;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    flex-direction: row;
    text-align: end;
}

nav li {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    padding: 20px 40px;
}

/*--Hero--*/

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.hero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.hero h1 {
    margin-bottom: 10px;
}

.sparkle-1 {
    stroke-width: 3px;
    stroke: #F4F0EE;
    width: 100px;
    transform: rotate(6.877deg);
    flex-shrink: 0;
    box-sizing: border-box;
    align-self: flex-end;
    z-index: -1;
    position: absolute;
    top: -38px;
    left: -85px;
    animation: twinkle 4s ease infinite;
}

@keyframes twinkle {
    from {
        opacity: 1;
    }

    25% {
        opacity: .5;
    }

    50% {
        opacity: .1;
    }

    75% {
        opacity: .5;
    }

    to {
        opacity: 1;
    }
}


.sparkle-2 {
    width: 37.75px;
    height: 42.75px;
    transform: rotate(-10.117deg);
    flex-shrink: 0;
    stroke-width: 3px;
    stroke: #F4F0EE;
    align-self: flex-end;
    z-index: -1;
    position: absolute;
    right: -120px;
    bottom: -10px;
    animation: twinkle2 4s ease infinite;
}

@keyframes twinkle2 {
    from {
        opacity: .5;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: .5;
    }

    75% {
        opacity: .1;
    }

    to {
        opacity: .5;
    }
}

/*--Content--*/

.content {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin-top: 50px;
    justify-content: center;
}

.content-text {
    padding-right: 100px;
}

.headshot-sparkle {
    position: relative;
}

.headshot {
    margin-left: 200px;
    height: 400px;
}

.sparkle-3 {
    position: absolute;
    height: 45px;
    left: 167px;
    bottom: -30px;
    transform: rotate(-46deg);
}


.bio-sum {
    position: relative;
}

.sparkle-4 {
    position: absolute;
    height: 45px;
    right: 0px;
    bottom: 53px;
    transform: rotate(27deg);
}

.cta {
    position: relative;
}

.sparkle-5 {
    position: absolute;
    height: 25px;
    left: 227px;
    bottom: 34px;
    transform: rotate(52deg);
}

.content-text :not(button) {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-content: flex-end;
    max-width: 600px;
    max-height: 400px;
    margin-top: 25px;
    margin-bottom: 15px;
}

button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #9DA5EB;
    text-align: center;
    font-weight: 400;
    border-radius: 20px;
    border: 3px solid #9DA5EB;
    background-color: #313131;
}

.content button {
    margin: auto;
    margin-bottom: 50px;
}

/*--Project Highlights*/

.project-hl h1 {
    text-align: center;
    color: #F4F0EE;
    margin: 50px auto;
    font-size: 36px;
}

.project-hl :not(h1) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.case-studies {
    display: flex;
}

.case-text {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-content: flex-end;
    max-width: 600px;
    max-height: 400px;
    margin: 10px 0px;
}


/*--Footer--*/

footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;
    font-size: x-small;
}

footer ul {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    flex-direction: row;
    text-align: end;
}

footer li {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    padding: 20px 40px;
}

@media only screen and (max-width:1100px) {
    .sparkle-3 {
        display: none !important;
    }
}

@media only screen and (max-width:950px) {
    .sparkle-3, .sparkle-4, .sparkle-5 {
        display: none !important;
    }

    .headshot {
        margin-top: auto;
        margin-bottom: auto;
    }
}

@media only screen and (max-width:800px) {

    /*Full Page*/
    .sparkle-1, .sparkle-2 , .sparkle-3, .sparkle-4, .sparkle-5 {
        display: none !important;
    }

    /*Header/Footer*/
    nav {
        width: 100%;
    }

    nav li, footer li {
        display: flex;
        padding: 0px 10px;
    }

    .logo {
        width: 75px;
    }

    /*Typography*/
    h1 {
        font-size: xx-large;
    }

    h3 {
        font-size: medium;
    }

    p {
        font-size: small;
    }

    .content p:first-child {
        margin-top: 0px;
    }

    .content-text {
        padding-right: 50px;
    }

    .hero {
        margin-left: 20px;
        margin-right: 20px;
    }

    .headshot {
        height: 250px;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 150px;
    }
}

@media only screen and (max-width: 700px) {
    .content {
        gap: 3rem;
    }
    
    .content-text {
        padding-right: 20px;
    }
    
    .headshot {
        margin-left: 50px;
        margin-right: 15px;
    }
}

@media only screen and (max-width: 450px) {
    .content {
        gap: 1rem;
    }
    
    .content-text {
        margin: auto;
    }
    .headshot {
        height: 150px;
        margin-left: 25px;
        margin-right: 15px;
    }
}
